body{
    background-color: aliceblue;
}

.container {
    /* width: 100%;
    padding-right: 85px;
    padding-left: 50%;
    margin-right: auto;
    margin-left: auto; */
    padding-left: 40%;
  }

  .sidenav---sidenav---_2tBP{
    background: #5228b6 !important;
  }
  .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T {
    color: #87d1f3 !important;
  }